<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>v2rayW</title>
  <base href="/view/">  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="assets/css/toaster.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/all.min.css">
<link rel="stylesheet" href="styles.css"></head>

<body class="mat-typography">
  <app-root></app-root>
<script src="runtime.js" type="module"></script><script src="polyfills.js" type="module"></script><script src="vendor.js" type="module"></script><script src="main.js" type="module"></script></body>

</html>